body {
  text-align: center;
  background-color: lightblue;
  font: sans-serif;
  font-size: 18px;
}
h1 {
  color: blue;
  font-size: 32px;
}
h2 {
  color: blue;
}
h3 {
  color: blue;
}
h4 {
  color: blue;
}
button {
  background-color: pink;
  padding: 14px 40px;
}
