body {
  text-align: center;
  background-color: lightblue;
}
h1 {
  color: blue;
}
h2 {
  color: blue;
}
h3 {
  color: blue;
}
h4 {
  color: blue;
}
button {
  background-color: pink;
  padding: 14px 40px;
}
